<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새로운 Person 추가(insert)</title>
</head>
<body>
<div align="center">
  <h3>Register Person Data</h3>
  <br> <br>
  <form action="#" th:action="@{/exam01/insert}" th:object="${person}" method="post">
  <table border="1" cellpadding="10">
    <tr>
      <th>이름</th>
      <td><input type="text" th:field="*{name}"></td>
    </tr>
    <tr>
      <th>나이</th>
      <td><input type="text" th:field="*{age}"></td>
    </tr>
    <tr>
      <th>이메일</th>
      <td><input type="text" th:field="*{email}"></td>
    </tr>
    <tr>
    <td colspan="2"><button type="submit">Save</button></td>
    </tr>
    </table>
  </form>
</div>
</body>
</html>