<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
</head>
<body>
<div align="center">
    <h3>JDBC SpringbootDB Test</h3>
    <a>Add Person Data</a>
    <br>
    <table border="1" cellpadding="10">
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>나이</th>
            <th>이메일</th>
            <th>비고</th>
        </tr>
        <tr th:each="person:${personList}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
            <td th:text="${person.age}"></td>
            <td th:text="${person.email}"></td>
            <td>
                <a>Edit</a>&nbsp;&nbsp;&nbsp;
                <a>Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
