<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Member First Page</title>
</head>
<body>
<div align="center">
  <h2>JPA SpingbootDB @Query Test</h2>
  <a th:href="@{/exam03/new}">Add Member Data</a>
  <br><br>
  <table border="1" cellpadding="10">
    <tr>
      <th>아이디</th>
      <th>이름</th>
      <th>나이</th>
      <th>이메일</th>
      <th>비고</th>
    </tr>
    <tr th:each="member : ${memberList}">
      <td th:text="${member.id}"></td>
      <td th:text="${member.name}"></td>
      <td th:text="${member.age}"></td>
      <td th:text="${member.email}"></td>
      <td>
        <a th:href="@{'/exam03/edit/' + ${member.id}}">Edit</a>&nbsp;&nbsp;&nbsp;
        <a th:href="@{'/exam03/delete/' + ${member.id}}">Delete</a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>